<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Weather</title>
  </head>
  <body>
    <h1>Weather</h1>
    <form action="/" method="post">
      <label for="placeName"
        ><input type="text" name="placeName" placeholder="Place Name" /></label
      ><br /><br />
      <button type="submit">Get Weather info</button>
    </form>
  </body>
</html>
